/* Header Styles */
header {
    background-color: black;
    color: whitesmoke;
    padding: 20px 0px 20px;
}

#fmh_logo {
    padding: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #5fbd3a;
}

nav ul li a.active {
    color: #5fbd3a;
}

nav ul li a.hidden {
    color: black;
}

/* Body Styles */
body {
    background-color: whitesmoke;
    font-family: 'Fira Sans Extra Condensed';
}

.topText {
    color: #333;
    text-align: center;
}

.subtext{
    text-align: center;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#restaurant-search{
    width: 33%;
}

.maintenance-message{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.maintenance-message #welcome{
    font-size: 80px;
    color: #333;
    margin-bottom: 10px;
}

.maintenance-message #message {
    font-size: 25px;
    color: #666;
}

/* Filter Box Styles */
#filterBox {
    padding-bottom: 25px;
}

/* Restaurant Grid Item Styles */
.data-item {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(30% - 20px); /* Adjusted width to include spacing between columns */
    margin: 10px; /* Add space between columns */
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: 400px;
}

.restaurant-grid {
    text-align: center; /* Center-align grid items horizontally */
}

/* Button Container Styles */
.button-container {
    padding: 10px;
    display: flex; /* Use flexbox to align buttons next to each other */
    gap: 10px; /* Add spacing between buttons */
    justify-content: center; /* Center-align buttons horizontally */
    margin-top: auto; /* Push buttons to the bottom of the grid item */
}

/* Visit Now Button Styles */
.visit-button,
.menu-button,
.reserve-button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%; /* Make buttons fill the available width */
}

.visit-button:hover {
    color: #5fbd3a;
}

/* Menu Button Styles */
.menu-button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    color: #5fbd3a;
}

/* Reserve Now Button Styles */
.reserve-button:hover {
    color: #5fbd3a;
}